button[type="submit"] {
  display: block;
  width: 100%;
}

.btn_ {
  display: inline-block;
  font-weight: inherit;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  transition: color 0.15s ease-in-out;
  padding: 0;
  border: none;

  &:focus {
    outline: 0;
  }

  &:disabled {
    opacity: $btn-disabled-opacity;
  }
}

.btn-primary {
  font-weight: $font-weight-base;
}

.btn-outline-default {
  color: $body-color;
}
