// size
.txt_lg {
  font-size: $font-size-lg !important;
}
.txt_sm {
  font-size: $font-size-sm !important;
}
.txt_xs {
  font-size: 10px !important;
}
.txt_base {
  font-size: $font-size-base !important;
}

.txt_underline {
  text-decoration: underline;
}
