/*!
 * ellipsis - height fix
 */

@mixin ellipsis-fix($line-height: $line-height-base, $line: 1) {
  display: block;
  height: $line-height * $line * 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  @if ($line == 1) {
    white-space: nowrap;
  } @else {
    white-space: normal;
  }
  @supports (-webkit-line-clamp: 1) {
    white-space: normal;
    /* autoprefixer: off */
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
  }
}

@mixin no-ellipsis() {
  height: auto;
  overflow: inherit;
  text-overflow: inherit;
  white-space: inherit;
  -webkit-line-clamp: inherit;
}